body {
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    right: 0;
    top: 0;
    bottom;
    0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);

}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Comic Neue', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: white;
    width: 70px;
    margin: 8px auto;

}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;

}

.links {
    float: left;
    color: aqua;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: yellow;
}
